@import url('https://fonts.googleapis.com/css?family=Public+Sans&display=swap');

:root {
  --primary-bg-color1: #2d314d;
  --primary-bg-color2: #31d35c;
  --primary-bg-color3: #2bb7da;
  --Neutral-bg-color1: #9698a6;
  --Neutral-bg-color2: #f3f4f6;
  --Neutral-bg-color3: #fafafa;
  --Neutral-bg-color4: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Public Sans', sans-serif;
  font-weight: normal;
  font-size: 18px;
  /* margin: 0 100px 50px 80px; */
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #ffffff;
  padding-right: 6em;
  padding-left: 5em;
}

.logo {
  width: 120px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.img {
  display: block;
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  margin-right: 25px;
  font-size: 0.9rem;
}

.nav-item a {
  color: var(--Neutral-bg-color1);
}

.btn {
  padding: 10px 25px;
  color: white;
  background: linear-gradient(270deg, #2bb7da 0%, #31d35c 65.16%);
  border-radius: 175px;
  border: none;
}

.main-header {
  height: 570px;
  background: linear-gradient(180deg, #fafafa, #ffffff);
}

.header-descript {
  position: relative;
  width: 28%;
  top: 20%;
  left: 10%;
}

.header-title,
.header-text,
.main-header-btn {
  margin-bottom: 20px;
}

.header-title {
  font-weight: normal;
}

.header-text {
  font-size: 0.8em;
}

.main-header-btn {
  width: 150px;
}

.intro-desktop-img,
.mockup-img {
  position: relative;
}

.intro-desktop-img {
  width: 650px;
  bottom: 292px;
  left: 700px;
}

.mockup-img {
  width: 470px;
  bottom: 232px;
  left: 226px;
}

#description-frame {
  background-color: var(--Neutral-bg-color2);
  padding: 100px 150px;
}

#description-frame h2 {
  font-weight: normal;
}

.frame h3 {
  font-weight: normal;
}
